body {
    /*
    background-image: url("http://wallpapers-images.ru/1920x1080/cars/wallpapers/wallpapers-cars-56.jpg");
    */
    background: url(/img/image2.jpg);
    /*
    background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);
    */

}
.block {
    border-radius: 5px;
    color: #fff;
    font-family: verdana, 'open sans', sans-serif;
    padding: 10px 14px 10px 44px;
    position: relative;
    box-shadow: 0px 1px 5px #999;
    background-color: #8a9bab;
    opacity: 0.6;
}

a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: black;
    background: transparent;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

a:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: transparent;
    transform: translateY(-7px);
}


input[type=submit] {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: black;
    background: dimgray;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.login p {
    margin: 0 0 10px;
}

input, button, label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=text], input[type=password], input[type=email]{
    padding: 0 10px;
    width: 300px;
    height: 40px;
    color: #bbb;
    text-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
    color: white;
    background: rgba(0, 0, 0, 0.1);
    outline: 0;
}

label {
    float: left;
    width: 100px;
    line-height: 40px;
    padding-right: 10px;
    font-weight: 100;
    text-align: right;
    letter-spacing: 1px;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password], .lt-ie9 input[type=email] {
    line-height: 40px;
    background: #282828;
}

@-webkit-keyframes slideOut{
    0%{top:-30px; opacity: 0;}
    100%{top:0px; opacity: 1;}
}

.maxi-top a{
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
    display: block;
    float: left;
}
.maxi-top a:hover{
    background: #fff;
}

.maxi-top span.right a{
    float: left;
    display: block;
}
form {
    margin: 0 auto;
    max-width: 95%;
    padding: 30px 30px 6px 30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden;
}

.new-select-style select {
    border-radius: 0;
    background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);
    height: 34px;
    padding: 5px;
    border: 3px black;
    font-size: 16px;
    font-style: italic;
    font-family: italic;
    line-height: 1;
    -webkit-appearance: none;
    width: 450px;
}

.text-typing
{
    width: 40em;
    color: black;
    font-style: italic;
    font-family: italic;
    font-size: 15px;;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}
@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

#blink2 {
    -webkit-animation: blink2 1s linear infinite;
    animation: blink2 1s linear infinite;
}
@-webkit-keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
}

footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: transparent;
    color: black;
    width: 100%;
}



.select-css {
    margin: 10px;
    width: 80px;
    padding: 5px 15px 5px 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* CAUTION: IE hackery ahead */


select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}